$paragraph-font-size: 2rem;
$header-font-size-h1: 6.5rem;
$header-font-size-h2: 4.375rem;
$header-font-size-h3: 2.75rem;
$header-font-size-h4: 2.75rem;
$header-font-size-h5: 2.375rem;
$header-font-size-h6: 1.8rem;


$red: #c62828;
$darkOrange: #dc6542;
$salmon: #cb485d;
